# eclipse files
.settings/
.project
.classpath
.idea/
out/
multt.iml

# build files
target/
/target/
bin/
.DS_Store
build/
.idea/
multt.iml

WebContent/arquivos
WebContent/documentos
/target\generated-sources\annotations/
WebContent/css/compactado/*
WebContent/js/compactado/*
src/desenvolvimento/hibernate.cfg.xml
src/desenvolvimento.properties





